@import "theme";
@import "layout";

header {
  height: 65px;
  background-color: $color1;
  display: flex;
  padding: 0 15px;
  align-items: center;
}

main {
  background-color: $color2;
  min-height: calc(100vh - 65px);
  padding-top: 65px;
}

aside {
  background-color: $color3;
  width: 250px;
  min-height: 100vh;
  position: fixed;
  z-index: 1000;
  .scroller {
    overflow-y: auto;
    max-height: 100vh;
    padding-bottom: 65px;
  }
}

.close-aside aside {
  width: 0;
  visibility: hidden;
}

.close-aside .shadow {
  display: none;
}

.shadow {
  background-color: $color4;
  width: 100%;
  min-height: 100vh;
  z-index: 1000;
}
